@font-face {
  font-family: "TenorSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/TenorSans.woff2") format("woff2"),
       url("../../fonts/TenorSans.woff") format("woff");
}
