// Colors
// ---------------------------------

$color-default-black:               #343a3f;
$color-default-grey:                #f4f4f4;
$color-default-white:               #ffffff;

$color-accent-main:                 #4888ff;

$color-accent-transparent-50:       rgba(72, 136, 255, 0.5);
$color-black-transparent-40:        rgba(52, 58, 63, 0.4);
$color-black-transparent-50:        rgba(52, 58, 63, 0.5);
$color-light-grey:                  #f3f3f3;
$color-darker-grey:                 #d3d3d3;
$color-dark-grey:                   #d4d9dd;

// Typography
// ---------------------------------

$ff-tenor-sans:                    "TenorSans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
