.actions-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;

  &__item {
    flex-shrink: 0;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 1px solid $color-dark-grey;
    border-radius: 4px;
    transition: border-color $trans-default;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-color: $color-default-black;
      mask-position: center;
      mask-repeat: no-repeat;
      transition: background-color $trans-default;
    }

    &:hover {
      border-color: #cdbecd;

      &::before {
        background-color: $color-accent-main;
      }
    }
  }

  &__link-counter {
    position: absolute;
    top: -10px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: $color-accent-main;
    border-radius: 50%;
    color: $color-default-white;
    font-size: 12px;
    line-height: 16px;
  }

  &__link--like {
    &::before {
      mask-image: url("../../icons/like.svg");
    }
  }

  &__link--hunter {
    &::before {
      mask-image: url("../../icons/hunter.svg");
    }
  }

  &__link--cart {
    &::before {
      mask-image: url("../../icons/cart.svg");
    }
  }

  @include vp-767 {
    gap: 6px;

    &__link {
      width: 40px;
      height: 40px;

      &::before {
        width: 20px;
        height: 20px;
      }
    }
  }
}
