.catalog {
  padding: 30px 0 23px;
  background-color: $color-default-white;
  border-radius: 8px;

  &__tab-menu {
    width: 338px;
  }

  &__tab-content {
    display: flex;
    flex-grow: 1;
  }
}
