.dropdown {
  &__content {
    padding: 24px 71px 24px 24px;
    left: 0;
    transform: none;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__list-link {
    font-size: 16px;
    line-height: 20px;
    color: $color-default-black;
    text-decoration: none;
    transition: color $trans-default;

    &:hover {
      color: $color-accent-main;
    }
  }

  @include vp-1279 {
    &__content {
      padding: 20px 30px;
    }

    &__list {
      gap: 8px;
    }

    &__list-link {
      font-size: 14px;
      line-height: 18px;
    }
  }

  @include vp-1023 {
    &__content {
      padding: 10px 20px;
    }

    &__list {
      gap: 5px;
    }

    &__list-link {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
