.header-wrapper-desktop {
  &__catalog-container {
    position: relative;
  }

  &__catalog {
    position: absolute;
    left: 155px;
    bottom: 0;
    transform: translateY(100%);
    overflow-y: auto;
    height: auto;
    max-height: calc(100vh - 180px);
    display: none;
  }

  &__catalog.is-active {
    display: flex;
  }
}

.header-wrapper-desktop.is-catalog-opened .catalog {
  z-index: 5;
}

.header-wrapper-desktop.is-catalog-opened .site-controls__catalog-button {
  z-index: 5;
}

.header-wrapper-desktop.is-main-menu-opened .main-menu__item.is-active {
  z-index: 5;
}
