.site-controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 16px 0 8px 115px;

  &__logo {
    position: absolute;
    left: 0;
    top: 16px;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-right: 19px;
  }

  &__catalog-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100px;
    height: 48px;
    background-color: $color-accent-main;
    padding: 0;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 41px;
      height: 16px;
      background-color: $color-default-white;
      mask-image: url("../../icons/burger-desktop.svg");
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }

  &__search-form {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 8px;
    min-width: 250px;
    max-width: 654px;
    width: 100%;
  }

  &__social-list {
    flex-shrink: 0;
  }

  &__language-buttons {
    flex-shrink: 0;
    margin-left: 21px;
    margin-right: 37px;
  }

  &__actions-list {
    flex-shrink: 0;
  }

  @include vp-1023 {
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 8px 0 8px 95px;

    &__logo {
      top: 8px;
      margin-right: 0;
    }

    &__catalog-button {
      width: 75px;
      margin-right: auto;
    }

    &__search-form {
      order: 3;
      max-width: none;
      margin-right: 0;
    }
  }
}
