.subcatalog {
  display: none;
  flex-direction: column;
  gap: 14px;
  width: 226px;
  margin-left: 41px;
  margin-right: 31px;

  &__title {
    margin: 0 0 14px;
    font-size: 30px;
    line-height: 34px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item-button {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: $ff-tenor-sans;
    padding: 8px 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: $color-default-black;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  &__item-amount {
    color: $color-black-transparent-50;
  }
}

.subcatalog.is-subcatalog-opened {
  display: flex;
}
