.subcatalog {
  display: none;
  flex-direction: column;
  gap: 14px;
  width: 226px;
  margin-left: 41px;
  margin-right: 31px;

  &__title {
    margin: 0 0 14px;
    font-size: 30px;
    line-height: 34px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item-amount {
    color: $color-black-transparent-50;
    transition: color $trans-default;
  }

  &__item-button {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    font-family: $ff-tenor-sans;
    padding: 8px 0;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    color: $color-default-black;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: color $trans-default;

    &:hover,
    &:hover .subcatalog__item-amount {
      color: $color-accent-main;
    }
  }

  &__item-button--tab {
    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 14px;
      margin-left: auto;
      background-color: $color-default-black;
      mask-image: url("../../icons/angle.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      transition: background-color $trans-default;
    }

    &:hover {
      &::after {
        background-color: $color-accent-transparent-50;
      }
    }
  }
}

.subcatalog.is-active {
  display: flex;
}
