.tab-menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0 0 23px;
  margin: 0;

  &__button {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 15px 30px 15px 20px;
    background-color: $color-default-white;
    border: none;
    border-bottom: 1px solid $color-extralight-grey;
    text-align: start;
    font-family: $ff-tenor-sans;
    font-size: 16px;
    line-height: 20px;
    color: $color-default-black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color $trans-default;

    &::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      background-color: $color-accent-transparent-50;
      mask-position: center;
      mask-repeat: no-repeat;
      transition: background-color $trans-default;
    }

    &:hover {
      background-color: $color-extralight-grey;

      &::before {
        background-color: $color-accent-main;
      }
    }
  }

  &__button.is-active {
    background-color: $color-extralight-grey;
  }

  &__button--smartphones-gadgets {
    &::before {
      mask-image: url("../../icons/menu-phone.svg");
    }
  }

  &__button--laptops-computers {
    &::before {
      mask-image: url("../../icons/menu-laptop.svg");
    }
  }

  &__button--televisions-digital-TV {
    &::before {
      mask-image: url("../../icons/menu-tv.svg");
    }
  }

  &__button--audio {
    &::before {
      mask-image: url("../../icons/menu-stereo.svg");
    }
  }

  &__button--sales {
    &::before {
      mask-image: url("../../icons/fire.svg");
    }
  }

  &__button--new {
    &::before {
      mask-image: url("../../icons/menu-new.svg");
    }
  }

  &__button--purpose {
    &::before {
      mask-image: url("../../icons/menu-people.svg");
    }
  }

  &__button--occasion {
    &::before {
      mask-image: url("../../icons/menu-knives.svg");
    }
  }

  &__button--filling {
    &::before {
      mask-image: url("../../icons/menu-computer-case.svg");
    }
  }

  &__button--tab {
    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 14px;
      flex-shrink: 0;
      margin-left: auto;
      background-color: $color-default-black;
      mask-image: url("../../icons/angle.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      transition: background-color $trans-default;
    }

    &:hover {
      &::after {
        background-color: $color-accent-transparent-50;
      }
    }
  }

  @include vp-1279 {
    &__button {
      gap: 10px;
      padding: 10px 20px;
      font-size: 16px;
      line-height: 20px;

      &::before {
        width: 20px;
        height: 20px;
      }
    }

    &__button--tab {
      &::after {
        width: 6px;
        height: 12px;
      }
    }
  }

  @include vp-1023 {
    padding: 0 0 10px;

    &__button {
      font-size: 14px;
      line-height: 18px;

      &::before {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__button--tab.is-active {
    &::after {
        background-color: $color-accent-transparent-50;
      }
  }
}
